.imagegrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
form#search button {
    flex-shrink: 0;
}

.img_star, .img_folder, .img_tag, .img_annotation {
    display: none;
}

.row .col {
    position: relative;

    .img_star::before {
        content:"★";
    }
    .img_star {
        position: absolute;
        display: inline-block;
        left: 1em;
        top: 12m;
        text-align: left;
        padding-left: 1em;
        width: auto;
    }
    .img_star:empty {
        display: none;
    }
    .img_folder, .img_tag, .img_annotation {
        display: none;
    }    
}

.carousel-item {
    .img_star::before {
        content:"★";
    }
    .img_star {
        display: inline-block;
        text-align: left;
        padding-left: 1em;
        width: auto;
    }
    .img_star:empty {
        display: none;
    }
    .img_folder {
        display: inline-block;
        text-align: left;
        width: auto;
    }
    .img_tag {
        display: inline-block;
        text-align: left;
        width: auto;
    }
    .img_annotation {
        display: block;
        text-align: left;
        padding: 2px;
    }
}

:not(.carousel) > .carousel-control-prev,
:not(.carousel) > .carousel-control-next {
    display: none;
}

#folder-dropdown-menu {
    width: 100px;
}
.has-dropdown-menu-sub::after {
    content: "▶";
    font-weight: 400;  
    position: absolute;
    top: 8px;
    right: 5px;
}
.has-dropdown-menu-sub {
    position: relative;
}
.dropdown-menu-sub {
    position: absolute;
    top: 0;
    left: 110px;
    width: 100%;
    background-color: white;
    visibility: hidden;
}
.has-dropdown-menu-sub:hover
.dropdown-menu-sub {
    visibility: visible;
}
#fillnext_button {
    background: transparent;
    border: 0px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#starcontextmenu {
    width: auto;
    left:50%;
    top:25%;
}
#updatedb {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#updating {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
   transition: .3s;
   opacity:0;
}
#updating.active {
    visibility: visible;
    transition: .3s;
    opacity: 1;
}
#updating .message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);   
	padding: 15px 30px;
	background: blueviolet;
	color: #fff;
	text-align: center;
	width: 300px;
}
