.imagegrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
form#search button {
    flex-shrink: 0;
}

.img_info {
    display: none;
}

.carousel-item .img_info {
    display: block;
}

:not(.carousel) > .carousel-control-prev,
:not(.carousel) > .carousel-control-next {
    display: none;
}

#folder-dropdown-menu {
    width: 100px;
}
.has-dropdown-menu-sub::after {
    content: "▶";
    font-weight: 400;  
    position: absolute;
    top: 8px;
    right: 5px;
}
.has-dropdown-menu-sub {
    position: relative;
}
.dropdown-menu-sub {
    position: absolute;
    top: 0;
    left: 110px;
    width: 100%;
    background-color: white;
    visibility: hidden;
}
.has-dropdown-menu-sub:hover
.dropdown-menu-sub {
    visibility: visible;
}