{% extends "base.html" %}
{% block title %}eagle viewer{% endblock %}
{% block navbar %}
<ul class="navbar-nav">
    <li class="nav-item">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if foldername %}{{ foldername }}{% else %}フォルダー{% endif %}
        </button>
        <ul id="folder_dropdown" class="dropdown-menu">
            <li><a class="dropdown-item" href="/eagle?folder=">全画像</a></li>
            <li><a class="dropdown-item" href="/eagle?folder=,">未分類</a></li>
            <li class="has-dropdown-menu-sub">
                <a class="dropdown-item" href="/eagle?folder=star">星</a>
                <ul class="dropdown-menu-sub">
                <a class="dropdown-item" href="/eagle?folder=star5">星5</a>
                <a class="dropdown-item" href="/eagle?folder=star4">星4</a>
                <a class="dropdown-item" href="/eagle?folder=star3">星3</a>
                <a class="dropdown-item" href="/eagle?folder=star2">星2</a>
                <a class="dropdown-item" href="/eagle?folder=star1">星1</a>
                <a class="dropdown-item" href="/eagle?folder=star0">星0</a>
                </ul>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% for f in folders -%}
            {% if f.children %}
            <li class="has-dropdown-menu-sub">
                <a class="dropdown-item" href="/eagle?folder={{- f.id -}}">{{- f.name -}}</a>
                <ul class="dropdown-menu-sub">
                {% for ff in f.children %}
                    <a class="dropdown-item" href="/eagle?folder={{- ff.id -}}">{{- ff.name -}}</a>
                {% endfor %}
                </ul>
            </li>
            {% else %}
            <li>
                <a class="dropdown-item" href="/eagle?folder={{- f.id -}}">{{- f.name -}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item">
        <button type="button" class="nav-item btn btn-primary" aria-expanded="false" onclick="flipScreenMode()">
            ⇔
        </button>
    </li>
</ul>
<form id="search" class="d-flex" role="search" method="get">
    <input class="form-control" type="input" placeholder="キーワード" aria-label="keyword" name="keyword">
    <button class="btn btn-outline-success" type="submit">検索</button>
</form>
{% endblock %}
{% block body %}
<div id="eagle_main" class="container">
<div id="img_slide"><!-- carousel slide -->
<div id="img_grids" class="row row-cols-auto"><!-- carousel-inner -->
{% for img in list -%}
<div id="img_{{- img.id -}}" class="col" tabindex="1"><!-- carousel-item [active] -->
    <div class="row bg-secondary-subtle">
        <div class="column col-lg-9 text-center">
            <!-- width = data-twidth, height = data-theight, data-tsrc = src = data-rsrc -->
            <a onclick='flipScreenMode("{{- img.id -}}");'><img class="img-thumbnail" src="/images/{{- img.id -}}/{{- img.thumbname -}}" width="{{- img.thumbwidth -}}px" height="{{- img.thumbheight -}}px"
                 {% if img.noThumbnail %}data-rsrc="/images/{{- img.id -}}/{{- img.name -}}.{{- img.ext -}}"{% endif %}></a>
        </div>
        <div class="column side col-lg-3 img_info">
            <div class="star bg-primary text-wrap">
                {{ img.star }}
            </div>
            <div class="img_folders list-group">
                {% for fld in img.folders -%}
                <div class="list-group-item list-group-item-info">{{ fld }}</div>
                {% endfor -%}
            </div>
            <div class="img_tags list-group">
                {% for tag in img.tags -%}
                <div class="list-group-item list-group-item-secondary">{{ tag }}</div>
                {% endfor -%}
            </div>
            <div class="img_annotation bg-primary text-wrap">
                {{ img.annotation }}
            </div>
            <div class="star bg-primary text-wrap">
                {{ img.star }}
            </div>
        </div>
    </div>
</div>
{% endfor -%}
<div id="img_next" class="col" tabindex="1">
    <button id="fillnext_button" onclick="fillnext()">読み込み</button>
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#img_slide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#img_slide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>    
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="static/js/images.js"></script>
{% endblock %}
