.imagegrid {
    display: grid;
    width: 100%;
/*    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));*/
}
form#search button {
    flex-shrink: 0;
}

.img_star, .img_folder, .img_tag, .img_annotation {
    display: none;
}

nav.hidden {
    display: none;
}

.row .col {
    position: relative;
    .img_star::before {
        content:"★";
    }
    .img_star {
        position: absolute;
        display: inline-block;
        left: 1em;
        top: 0em;
        text-align: left;
        /*padding-left: 0.5em;*/
        width: auto;
    }
    .img_star:empty {
        display: none;
    }
    .img_folders {
        position: absolute;
        display: inline-block;
        left: 0em;
        bottom: 0em;
        text-align: left;
        width: auto;
    }
    .img_folder {
        display: inline-block;
        text-align: left;
        width: auto;
        vertical-align: top;
    }
    .img_infos {
        display: contents;
    }
    .img_tags, .img_annotation {
        display: none;
    }    
}

.carousel-item {
    text-align: left;
    a {
        text-align: center;
    }
    .img_infos {
        display: inline-block;
        max-width: 512px;
        vertical-align: top;
    }
    .img_star::before {
        content:"★";
    }
    .img_star {
        display: inline-block;
        text-align: left;
        /*padding-left: 1em;*/
        width: auto;
        vertical-align: top;
    }
    .img_star:empty {
        display: none;
    }
    .img_folders, .img_tags {
        display: contents;
    }
    .img_folder, .img_tag, .img_annotation {
        display: inline-block;
        text-align: left;
        width: auto;
        vertical-align: top;
    }
}

:not(.carousel) > .carousel-control-prev,
:not(.carousel) > .carousel-control-next {
    display: none;
}

#folder-dropdown-menu {
    width: 100px;
}
.has-dropdown-menu-sub::after {
    content: "▶";
    font-weight: 400;  
    position: absolute;
    top: 8px;
    right: 5px;
}
.has-dropdown-menu-sub {
    position: relative;
}
.dropdown-menu-sub {
    position: absolute;
    top: 0;
    left: 110px;
    width: 100%;
    background-color: white;
    visibility: hidden;
}
.has-dropdown-menu-sub:hover
.dropdown-menu-sub {
    visibility: visible;
}
#img_next {
    width: 128px;
    height: 170px;
    background-color: lightgrey;
    text-align: center;
    vertical-align: middle;
}
#img_next.disabled #fillnext_button::after {
    content: " (強制読込)";
}
#fillnext_button {
    background: transparent;
    border: 0px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#starcontextmenu .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content {
        width: 5em;
    }
}
#updating {
    .alert {
        width: 100%;
    }
}
#errormessage {
    display: block;
}
#errormessage:empty {
    display: none;
}
